version: "0.1.2"
entryPoint: "main"
remoteDependencies: [
  "https://code.jquery.com/jquery-1.10.1.min.js"
]
dependencies:
  cornerstone: "distri/cornerstone:v0.2.6"
  spreadsheet: "distri/gdocs-spreadsheet:v0.1.0"
